html {
  
}

body {
  background-color: #FAFAFA;
  font-family: "Corbel", "Helvetica Neue", "Arial";
}

article {
  max-width: 980px;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0 5px 0;
  background-color: #ededed;
  -webkit-box-shadow: 0 3px 5px #888;
  -moz-box-shadow: 0 3px 5px #888;
  box-shadow: 0 3px 5px #888;
}

header > h1 {
  float: left;
  font-size: 38px;
  margin: 10px 0px 0px 40px;
}

header > h2 {
  margin: 5px 0px 0px 0px;
}

header > h1 a {
  color: #333;
}

header nav > ul {
  float: right;
  padding: 0px;
  margin: 0px;
}

pre code {
  font-size: 0.9em;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: #82B3D9;
  text-decoration: none;
}

header nav > ul {
  list-style: none;
}

ul, ol {
  padding-left: 10px;
  margin-left: 15px;
}

section > h2 {
  padding-top: 40px;
  font-size: 1.7em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

section > h3 {
  font-size: 1.3em;
  margin: 10px 0px;
}

section > h4 {
  font-size: 1.1em;
  font-style:italic;
  margin: 10px 0px;
}

section p {
  margin: 10px 0px 5px 0;
}

section .examples > div.text {
  min-height: 65px;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 0px;
  position: relative;
  padding: 5px;
}

section .examples > div > span {
  padding: 10px 5px;
  font-weight: bold;
}

section .examples > div > p {
  margin-left: 90px;
  position: absolute;
  bottom: 5px;
}

section p i {
  font-size: 0.8em;
  font-style: italic;
}

section p i::before {
  content: 'Main technos:';
  margin-right: 5px;
  font-weight: bold;
}
