html {
  
}

body {
  background-color: #FAFAFA;
  font-family: "Corbel", "Helvetica Neue", "Arial";
}

article {
  max-width: 980px;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0 5px 0;
  background-color: #ededed;
  -webkit-box-shadow: 0 3px 5px #888;
  -moz-box-shadow: 0 3px 5px #888;
  box-shadow: 0 3px 5px #888;
}

header > h1 {
  float: left;
  font-size: 38px;
  margin: 10px 0px 0px 40px;
}

header > h1 a {
  color: #333;
}

header > h1::before {
  content: url('logo_small.png');
  width: 44px;
  height: 41px;
  display: block;
  margin-bottom: -10px;
  margin-left: 25px;
}

header nav > ul {
  float: right;
  padding: 0px;
  margin: 0px;
}

header.small > h1 {
  float: left;
  font-size: 28px;
  margin: 5px 0px 0px 35px;
}

header.small > h2 {
  position: absolute;
  top: 10px;
  left: 160px;
  right: 110px;
}

header.small ~ article {
  padding: 60px 20px 0 20px;

}

header.small > h1::before {
  width: 18px;
  height: 21px;
  margin-bottom: -10px;
  margin-left: -35px;
}

header.small nav > ul > li > a {
  width: 85px; height:35px;
}

pre code {
  font-size: 0.9em;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: #82B3D9;
  text-decoration: none;
}

header nav > ul {
  list-style: none;
}

ul, ol {
  padding-left: 10px;
  margin-left: 15px;
}

header nav > ul > li {
  float: left;
  margin: 5px 5px 0 0;
  display: block;
  background-image: url('tile_bckgrd.png');
}

header nav > ul > li > a {
  width: 85px; height:85px;
}

header nav > ul > li > a:hover {
  background-color: #DDD;
}

header nav > ul > li > a:active {
  background-color: #CCC;
}

header nav a {
  display: block;
  font-size: 15px;
  padding: 5px 5px;
  color: #555;
}

section {
}

section > h2 {
  padding-top: 40px;
  font-size: 1.7em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

section > h3 {
  font-size: 1.3em;
  margin: 10px 0px;
}

section > h4 {
  font-size: 1.1em;
  font-style:italic;
  margin: 10px 0px;
}

section p {
  margin: 10px 0px 5px 0;
}

section .examples > div.text {
  min-height: 65px;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 0px;
  position: relative;
  padding: 5px;
}

section .examples > div > span {
  padding: 10px 5px;
  font-weight: bold;
}

section .examples > div > p {
  margin-left: 90px;
  position: absolute;
  bottom: 5px;
}

section p i {
  font-size: 0.8em;
  font-style: italic;
}

section p i::before {
  content: 'Main technos:';
  margin-right: 5px;
  font-weight: bold;
}

pre {
  border-left: 3px solid #aaa;
  margin: 10px 0px 10px 20px;
  padding-left: 10px;
  text-shadow: none;
  overflow: auto;
}

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

footer {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

a.button {
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
  color: red;
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
  display: block;
}

a.button.small {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;                     
  border-radius: 3px;
  line-height: 25px;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 5px;
}


a.button.download {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;                     
  border-radius: 30px;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 8px;
  display: block;
  float: left;
  width: 179px;
  margin-right: 14px;  
}

a.button.download span {
  padding-left: 50px;
  height: 23px;
}

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

.yellow {
  background-color:rgb(235, 232, 160);
}

.blue {
  background-color:rgb(156, 225, 228);
}

.green {
  background-color:rgb(203, 233, 196);
}

.pink {
  background-color:rgb(253, 213, 248);
}